.card-container{
    -webkit-box-shadow: 0 0 1rem rgba(0,0,0,.6);
    background-color: #1c1c1c;
    box-shadow: 0 0 1rem rgba(0,0,0,.6);
    width: 220px;
    height: 320px;
    margin: 25px;
    border-radius: 10px;
    cursor:pointer;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{

    transform: scale(1.05);
  }

.img{
    width: 100%;
    border-radius: 10px;
}
.card-title{
    height: 80px;
    align-self: flex-start;
    color: #cccccc;
    font-size: 18px;
    padding: 15px;
}
.card-continent{
    align-self: flex-end;
    color: #a047f8;
    font-weight: 300;
    margin: 15px;
    padding-top: 10px;
    border-top: 2px solid #d9d9d9;
}