.footer-container{
    position: relative;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #136ca7;
    background-color: #343a40e5;
    height: 100px;
    justify-content: center;
}

.img-footer{
    filter: invert(100%);
}

.text-footer{
    text-transform: none;
    color: #fff;
}
