.custom-select{
    
    padding-top: 20px;
}

.button-pagination{
    margin: 5px;
    padding: 0.6em;
    border-radius: 200em;
    border: 1px solid #999;
    color: #551a8b;
    background-color: #ffffff;
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    border-width: 2px;
}

.button-pagination:hover{
    border-color: #551a8b;
    cursor: pointer;
}

.button-pagactive{
    margin: 5px;
    padding: 0.6em;
    border-radius: 200em;
    border: 1px solid #999;
    color: #FFFFFF;
    background-color: #333333;
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;    
}

.button-pagactive:hover{
    border-color: #551a8b;
    border-width: 2px;
    cursor: pointer;
}