.landing-container{
    display: flex;
    background-color: #1c1c1d;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.travel-video{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;


}

.landing-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    z-index: 2;
}

.landing-title{
    margin-top: 30%;
    position: absolute;
}

.landing-button{ 
    position: absolute;   
    width: 100px;
    height: 36px;
    top: 200px;
    left: 500px;
    border-radius: 23px;
    vertical-align: middle;
    border: none;    
    background-image: linear-gradient(90deg, rgb(4, 29, 255), rgb(193, 3, 218), rgb(80, 0, 185));
    background-size: 300%;
    border-color: none;
    text-shadow: 1px 1px 1px #1c1c1d;
    color: #fff;
    cursor: pointer;
    transform: translate(0);
    transition: transform 0.25s ease-out;
    box-shadow: 0 0 1rem rgba(0,0,0,.6);
}

.landing-button:hover{
    background-position: 100%;
    transform: scale(1.20);    
}

.button-container{
    top: 420px;
    left: 600px;
}


@media (max-width:800px){
    .landing-title{
        position: relative;
        margin-top: 45%;
        width: 90%;
    }

    .landing-text-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        top: 20%;
    }
    .landing-button{ 
        top: 90%;
        left: 50%;
    }
}
